<img id="imga" src="Capture.PNG">
<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h4>About</h4>
            <ul>
                <li><a href="#">Our Company</a></li>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Information</h4>
            <ul>
                <li><a href="#">Delivery Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Return</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Support</h4>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Checkout</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-copyright">
            <p>Copyright © 2024 FurniFlex. All Rights Reserved.</p>
        </div>

        <!-- Social Icons -->
        <div class="footer-social">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-x"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
        <div class="footer-payment">
            <img src="visa.png" alt="Alma" />
            <img src="money.png" alt="Alma" />
            <img src="credit-card.png" alt="Alma" />
        </div>
    </div>
</footer>