<footer class="footer bg-dark text-white">
    <div class="d-flex justify-content-center align-items-center border border-left-0 border-right-0 ">
        <img src="WhatsApp_Image_2024-08-24_at_12.06.29_PM__1_-removebg-preview.png" width="10%" alt="logo">
        <h2 style="color:#d09423 ;">Electronics</h2>
    </div>
    <div class="footer-content container py-5 ">
        <div class="d-flex justify-content-around">
            <div>
                <h4>About</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Our Company</a></li>
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div>
                <h4>Information</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Return</a></li>
                </ul>
            </div>
            <div>
                <h4>Support</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark-50">Contact Us</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Checkout</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="  text-white text-start "style="background-color:#34504d">
    <div class="container">
        <div class="d-flex justify-content-around">
            <div>
                <p class="fs-5 mt-2">&copy; 2024 ITIANS. All Rights Reserved.</p>
            </div>
            <div class="">
                <!-- Social Icons -->
                <div class="mt-2">
                    <a href="#" class="text-white me-3"><i class="fab fa-instagram fs-2"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-x fs-2"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-facebook fs-2"></i></a>
                </div>
            </div>
            <div class=" text-center">
                <!-- Payment Icons -->
                <div class="mt-2">
                    <img src="visa.png" alt="Visa" class="me-2" style="width: 40px;" />
                    <img src="money.png" alt="Money" class="me-2" style="width: 40px;" />
                    <img src="credit-card.png" alt="Credit Card" style="width: 40px;" />
                </div>
            </div>
        </div>
    </div>
</div>
