<div class="container mb-5">
  <div class="products">
    <div class="product">
      <div
        class="product-details"
        style="
          height: 30vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        "
      >
        <h4 class="collection-title">New Collection</h4>
        <h3 class="product-title text-center">Small Wireless Gaming</h3>
        <a href="#" class="text-center" id="link">View All</a>
      </div>

      <div class="product-image">
        <img
          src="/61d2ST1LP1L._AC_SY450_-removebg-preview.png"
          alt="Virtual Reality"
        />
      </div>
    </div>

    <div class="product">
      <div
        class="product-details"
        style="
          height: 30vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        "
      >
        <h4 class="collection-title">New Collection</h4>
        <h3 class="product-title text-center">Small Wireless Gaming</h3>
        <a href="#" class="text-center" id="link">View All</a>
      </div>

      <div class="product-image">
        <img
          src="/61RCRdEvQlL._AC_SY606_-removebg-preview(1).png"
          alt="Gaming Sections"
        />
      </div>
    </div>

    <div class="product">
      <div
        class="product-details"
        style="
          height: 30vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        "
      >
        <h4 class="collection-title">New Collection</h4>
        <h3 class="product-title text-center">Small Wireless Gaming</h3>
        <a href="#" class="text-center" id="link">View All</a>
      </div>

      <div class="product-image">
        <img src="/output-onlinepngtools (14).png" alt="New Laptops" />
      </div>
    </div>

    <div class="discount d-flex justify-content-center align-items-center">
      <h2 class="my-3" style="color: white">20% OFFER</h2>
      <a
        ><span class="badge bg-text-dark" id="link" >GET DISCOUNT</span></a
      >
    </div>
  </div>
</div>
