<div class="container-fluid ">
    
    <div class="container mb-5">
    
        <div class="products">
            <!-- First Product -->
            <div class="product">
                <div class="product-details   position-relative" style="height: 50vh;">
                    <h4 class="collection-title text-center" style="top: 0;">New Collection</h4>
                    <h3 class="product-title position-absolute w-100 text-center"
                        style="top: 50%; transform: translateY(-50%);">Small Wireless Gaming</h3>
                    <a href="#" class="position-absolute w-100 text-center align-items-center" id="link"
                        style="bottom: 0;">View All</a>
                </div>
                <div class="product-image">
                    <img src="/61d2ST1LP1L._AC_SY450_-removebg-preview.png" alt="Virtual Reality">
                </div>
            </div>
    
            <!-- Second Product -->
            <div class="product">
                <div class="product-details position-relative" style="height: 50vh;">
                    <h4 class="collection-title text-center" style="top: 0;">New Collection</h4>
                    <h3 class="product-title position-absolute w-100 text-center"
                        style="top: 50%; transform: translateY(-50%);">Iphone 15 pro</h3>
                    <a href="#" class="position-absolute w-100 text-center align-items-center" id="link"
                        style="bottom: 0;">View All</a>
                </div>
                <div class="product-image">
                    <img src="/61RCRdEvQlL._AC_SY606_-removebg-preview(1).png" alt="Gaming Sections">
                </div>
            </div>
    
            <!-- Third Product -->
            <div class="product">
                <div class="product-details position-relative" style="height: 50vh;">
                    <h4 class="collection-title text-center" style="top: 0;">New Collection</h4>
                    <h3 class="product-title position-absolute w-100 text-center"
                        style="top: 50%; transform: translateY(-50%);">HP Victus 15-fa0031dx Gaming Laptop</h3>
                    <a href="#" class="position-absolute w-100 text-center align-items-center" id="link"
                        style="bottom: 0;">View All</a>
                </div>
                <div class="product-image">
                    <img src="/output-onlinepngtools (14).png" alt="New Laptops">
                </div>
            </div>
    
            <!-- Discount Section -->
            <div class="discount d-flex justify-content-center align-items-center">
                <h2 class="my-3" style="color: white;">20% OFFER</h2>
                <a href="#"><span class="badge bg-text-dark" id="link">GET DISCOUNT</span></a>
            </div>
        </div>
        
    </div>

</div>