.product-card {
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    background-color: white;
  }
  
  .discount-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #2C6D68;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 14px;
  }
  
  .favorite-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .product-img {
    width: 75%;
    display: block;
    margin: 0 auto;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
    z-index: 2; 
    padding: 15px;
    transition: opacity 0.2s ease;
}

.bottom-content {
    position: absolute;
    top: 0;
    left: 100%; 
    width: 100%;
    background-color: #d09423;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    transition: left 0.3s ease;
    z-index: 1;
    height: 100%; 
    box-sizing: border-box;  
}

.card-body:hover .top-content {
    opacity: 0; 
}

.card-body:hover .bottom-content {
    left: 0; 
}
.card-body {
    position: relative;
    background-color: #2d5356;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cart-btn {
    background-color: #ffffff;
    color: #d09423;
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cart-btn-hover {
    background-color: #ffffff;
    color: #2d5356;
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
