<div class="offers-section mb-5">
  <div class="background-circles">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="container">
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0 d-flex flex-column align-items-center">
        <h2>Minicash offers</h2>
        <a href="#" class="btn" style="text-decoration: none">Shop all</a>
      </div>
      <div class="flex-grow-1 ms-4">
        <div
          class="row row-cols-1 row-cols-md-5 g-3 d-flex align-items-stretch"
        >
          <div class="col d-flex">
            <a href="#" class="card flex-grow-1" style="text-decoration: none">
              <img
                src="/61KXw2MXBgL._AC_SX569_-removebg(1).png"
                class="card-img-top"
                alt="Iphone 12 pro"
              />
              <div class="card-body text-center">
                <h5>Iphone 12 pro</h5>
                <p class="price" style="color: #d09423">4,899.00</p>
              </div>
            </a>
          </div>
          <div class="col d-flex">
            <a href="#" class="card flex-grow-1" style="text-decoration: none">
              <img
                src="/61RCRdEvQlL._AC_SY606_-removebg-preview(1).png"
                class="card-img-top"
                alt="Iphone 12 pro"
              />
              <div class="card-body text-center">
                <h5>Iphone 12 pro</h5>
                <p class="price" style="color: #d09423">1,839.00</p>
              </div>
            </a>
          </div>
          <div class="col d-flex">
            <a href="#" class="card flex-grow-1" style="text-decoration: none">
              <img
                src="/output-onlinepngtools (18).png"
                class="card-img-top"
                alt="Iphone 12"
              />
              <div class="card-body text-center">
                <h5>Iphone 12</h5>
                <p class="price" style="color: #d09423">1,399.00</p>
              </div>
            </a>
          </div>
          <div class="col d-flex">
            <a href="#" class="card flex-grow-1" style="text-decoration: none">
              <img
                src="/output-onlinepngtools (19).png"
                class="card-img-top"
                alt="Iphone 14 pro"
              />
              <div class="card-body text-center">
                <h5>Iphone 14 pro</h5>
                <p class="price" style="color: #d09423">13,999.00</p>
              </div>
            </a>
          </div>
          <div class="col d-flex">
            <a href="#" class="card flex-grow-1" style="text-decoration: none">
              <img
                src="/output-onlinepngtools (20).png"
                class="card-img-top"
                alt="Iphone 11 pro"
              />
              <div class="card-body text-center">
                <h5>Iphone 11 pro</h5>
                <p class="price" style="color: #d09423">22,990.00</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
