<div class="email-container mt-5">
    <div class="content">
        <div class="form-container">
            <h2>Subscribe to our Newsletter</h2>
            <form (ngSubmit)="sendEmail()">
                <label for="userEmail">Your Email:</label>
                <input id="userEmail" [(ngModel)]="userEmail" name="userEmail" placeholder="Enter your email"
                    type="email" required />
                <button type="submit">Send Email</button>
            </form>
        </div>
        <div class="image-container">
            <img src="/Subscriber (3).gif" alt="Subscribe to our newsletter" />
        </div>
    </div>
</div>
