<div class="container my-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card border-0 shadow-sm">
                <a href="#">
                    <img src="../../assets/camera.jpg" alt="Image 1">
                    <div class="overlay">
                        <div class="text">camera</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card border-0 shadow-sm">
                <a href="#">
                    <img src="../../assets/23664.jpg" alt="Image 2">
                    <div class="overlay">
                        <div class="text">laptop</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card border-0 shadow-sm">
                <a href="#">
                    <img src="../../assets/il_fullxfull.5248334745_o85t.webp" alt="Image 3">
                    <div class="overlay">
                        <div class="text">mobile</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card border-0 shadow-sm">
                <a href="#">
                    <img src="../../assets/s.webp" alt="Image 4">
                    <div class="overlay">
                        <div class="text">speakers</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card border-0 shadow-sm">
                <a href="#">
                    <img src="../../assets/screen.png" alt="Image 5">
                    <div class="overlay">
                        <div class="text">screens</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card border-0 shadow-sm">
                <a href="#">
                    <img src="../../assets/360_F_182408083_2tFZnlAKOwGPWgjbU1RcUtYJj5WJFi57.jpg" alt="Image 6">
                    <div class="overlay">
                        <div class="text">accessory</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>