h2{
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0.5rem 0;
  color:#2d5356;
  padding-bottom: 10px;}

.category-navigation {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0.5rem 0;
  padding-bottom: 10px;
}

.category-btn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #2d5356;
  font-weight: bold;


}

.category-btn:hover,
.category-btn:focus {
  color: #d09423;
  border-bottom: 1px solid #d09423;
}

.category-btn:active {
  color: #d09423;
  background-color:#d09423;
}
